<div *ngIf="trail">
    <h3>
        {{ responseMsg}}
    </h3>
    <ul>
        <li *ngFor="let item of trail" class="li">
            <input type="checkbox" [(ngModel)]="item.selected" name="selected_{{item._id}}">
            Name: {{ item.name}}, &nbsp;&nbsp;&nbsp;
            Distance: {{ item.distance}},&nbsp;&nbsp;&nbsp;
            Difficulty: {{ item.difficulty}}
            <button class="btn-sm btn-info" (click)="editTrail(item._id)">Edit</button><br>
        </li>
    </ul>

    <button class="btn btn-primary" (click)="add()">Add</button>
    <button class="btn btn-danger m-2" (click)="deleteSelected()">Delete</button>
</div>

<!-- {{ trail | json}} -->