<p>template-with2-ways-form works!</p>
<form #registerationForm="ngForm" (ngSubmit)="register(registerationForm)">
    <div>
        <label>
            Name:
            <input name="name" id="name" placeholder="Your name" [(ngModel)]="user.name">
        </label>
    </div>
    <div>
        <label>
            Username:
            <input name="username" id="username" placeholder="Username" [(ngModel)]="user.username">
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password">
        </label>
    </div>
    <div>
        <label>
            Repeat Password:
            <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Password"
                [(ngModel)]="passwordRepeat">
        </label>
    </div>
    <button type="submit">Register</button>
</form>